* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  max-width: 100;
  max-height: 100;
  scroll-behavior: fixed;
  background: image("./img/background.png");
}

@font-face {
  font-family: 'storopiaregular';
  src: url('../fonts/storopia-webfont.woff2') format('woff2'),
    url('../fonts/storopia-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* @font-face kit by Fonts2u (https://fonts2u.com) */
@font-face {
  font-family: "Typewriter";
  src: url("../fonts/typewriterA602_________.eot?") format("eot"), url("../fonts/typewriterA602_________.woff") format("woff"), url("../fonts/typewriterA602_________.ttf") format("truetype"), url("../fonts/typewriterA602_________.svg#Typewriter-a602(deadpostman2004)") format("svg");
  font-weight: normal;
  font-style: normal;
}

.nav-spacing {
  padding-right: 2rem !important;
  /*root elemnt size*/
  padding-left: 2rem !important;
}

.bgnav {
  background-image: url('../img/header.jpg');
  height: 100px;
}

.navbar-nav:not(.bgnav) {
  align-items: center;

}

.navbar-nav li a {
  color: white;
}

.nav-item {
  font-size: 20px;
  border-radius: 25px 0px;
  align-items: center;
  background-color: #000000;
  border: 2.4px solid rgba(0, 255, 251, 0.916);
  box-sizing: border-box;
  margin: 20px;
  display: flex;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.nav-item:after {
  background-color: rgba(255, 255, 255, 0.988);
  border-radius: 25px 0px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(0px, 0px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.nav-item:active {
  background-color: #00bffff4;
  outline: 0;
}

.nav-item:hover:after {
  transform: translate(8px, 8px);
}

.nav-item:hover {
  transition: 0.3s;
  outline: 0;
}

.typewriter {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgb(0, 255, 217);
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation:
    typing 4.5s steps(40, end),
    blink-caret .85s step-end infinite;
  font-family: Typewriter;
  font-size: 45px;
}

.typewriter {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgb(0, 255, 217);
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation:
    typing 4.5s steps(40, end),
    blink-caret .85s step-end infinite;
  font-family: Typewriter;
  font-size: 45px;
}


/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  30% {
    border-color: rgb(51, 0, 255);
  }
}

.projects-header .section-title {
  color: rgb(255, 255, 255);
  padding: 20px;
  width: 1500px;
  font-weight: bolder;
  filter: blur(0.5px);
  border-radius: 5px 50px 5px;
  background-image: url("../img/section.jpg");
}

.section-title:hover {
  filter: brightness(120%);
  transform: scale(1.03);
  transition: 0.9s;
}

body {
  background-image: url('../img/background.png');
  background-attachment: fixed;
  width: 100vw;
  color: white;
  max-width: 100% !important;
  cursor: url("https://www.shareicon.net/data/64x64/2015/03/25/12580_light-saber_128x128.png"
    ),
    auto;
  overflow-x: hidden;
}

.logo {
  width: 70px;
  height: 70px;
  filter: contrast(180%);
}

.logo:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.landing {
  margin: 0;
  padding: 0;
  max-width: 100%;
  /* height: 100vh; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 15px;
  text-align: center;
}

.landing .image {
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-top: 5.2%;
  margin-bottom: 4%;
}

.landing .image img {
  width: 42vh;
  height: 42vh;
  padding: 2.8vh;
  background-color: #000000;
  transition: 0.4s;
  animation: outglow 4s ease forwards;
  animation-delay: 0.9s;
  border-radius: 15%;
}

@keyframes outglow {
  0% {
    border-radius: 20%;
    box-shadow: -10px -10px 45px #00ff9d, inset 10px 10px 4px #00000010;
  }

  50% {
    border-radius: 40%;
    box-shadow: 10px 10px 25px #00d9ff, inset -10px -10px 4px #00000010;
  }

  80% {
    border-radius: 30%;
  }

  100% {
    border-radius: 100%;
    box-shadow: 10px 10px 30px #000000, inset -10px -10px 4px #00000010;
  }
}

.myphoto {
  filter: contrast(111%);
}

.myphoto:hover {

  filter: brightness(110%);
  transition: 2s;
}

.landing .me {
  min-width: 50vh;
  min-height: 20vh;
  background: linear-gradient(rgba(255, 255, 255, 0.514), rgba(0, 0, 0, .8)), url("../img/gifname.gif");
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 3vh 2vh 3vh 2vh;
  box-shadow: 5px 5px 40px #000000, inset -5px -5px 10px #0000000c,
    -5px -5px 30px #000000bb, inset -5px -5px 10px #0000000c;
  border-style: ridge;
  border-width: 8.5px;
  border-color: #a4e3f8;
  transition: 0.2s;
}

.landing .me:hover {
  filter: brightness(130%);
}

.me2 {
  filter: drop-shadow(100%);
}


.me2:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.header2 {
  margin-top: 5%;
  position: relative;
  max-width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}


.header2 .section-box {
  width: 100%;
  margin-top: -2%;
  max-width: 80vh;
  margin-left: 200px;
  justify-content: space-evenly;
  align-items: center;
}

.header2 .section-box .box {
  width: 690px !important;
  max-width: 95vw;
  height: 720px;
  margin: 12em;
  margin-bottom: 3em;
  margin-top: -2em;
  max-height: fit-content;
  border-radius: 30px;
  box-shadow: 5px 5px 30px #000000, inset -5px -5px 10px #0000000c;
  text-align: center;
  padding: 15px;
  display: block;
  justify-content: space-between;
  line-height: 1.6;
  padding-bottom: 20px;
}


.header2 .section-box .box img {
  width: 24vh;
  height: 25vh;
  margin: 0 auto;
  border-radius: 30%;
  box-shadow: -10px -10px 20px #00000083, 10px 10px 20px #0000004b;
  padding: 0.20em;
}

.section-title {
  text-align: center;
  margin-bottom: 8rem;
  box-shadow: 5px 5px 30px #000000, inset -5px -5px 10px #0000000c;
  padding: 3.5rem;
}


.container {
  transform-style: preserve-3d;
}

.container .box {
  position: relative;
  width: 600px;
  height: 500px;
  margin: 30px;
  margin-top: -20px;
  margin: 0 auto;
  margin-left: -100px;

  margin-bottom: 75px;
  transform-style: preserve-3d;
  perspective: 1000px;
  cursor: pointer;
}

.container .box .body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 0.9s ease;
}

.container .box .body .imgContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.container .box .body .imgContainer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  object-fit: cover;
}

.container .box .body .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
  border-radius: 30px;
}

.container .box:hover .body {
  transform: rotateY(180deg);
  width: 100%;
  height: 100%;
}

.container .box .body .content div {
  transform-style: preserve-3d;
  padding: 20px;
  height: 300px;
  margin-top: 0px;
  background: linear-gradient(45deg, #3300ff, #00ffe1);
  transform: translateZ(100px);

}

.container .box .body .content div h3 {
  letter-spacing: 1px;
  font-size: 35px;
  font-weight: lighter;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: rgb(255, 255, 255);
}


.container .box .body .content div p {
  letter-spacing: 0.4px;
  font-size: 20px;
  font-weight: bold;
}

.box3 {
  width: 1050px !important;
  height: 350px;
  margin: 0 auto;
  margin-left: 30px;
  border-radius: 30px;
  box-shadow: 5px 5px 30px #000000, inset -5px -5px 10px #0000000c;
  text-align: center;
  padding: 15px;
  display: block;
  justify-content: space-between;
  line-height: 1.6;
  padding-bottom: 20px;
}

.contact {
  width: 110px;
  height: 110px;
  background-color: #000000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  margin: 0 25px;
  border-radius: 50px;
  background: linear-gradient(145deg, #2600ffb7, #00ffe5);
  box-shadow: 0px 0px 22px #000000, -10px -10px 22px #0d00ff35;
  transition: transform 0.9s;
}

.contact:hover {
  color: #3300ff;
  background-color: transparent;
  border: 2px solid #000000;
  transform: rotate(360deg) scale(1.1);
  border-radius: 50px;
  transition: 1.3s;
  background: linear-gradient(145deg, #2600ffb7, #00ffe5);
}

.skill {
  margin: 0 auto;
  margin-top: 15px;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec {
  margin: 0 auto;
  margin-top: 15px;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills {
  width: 60px;
  height: 60px;
  background-color: #000000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  margin: 0 20px;
  border-radius: 50px;
  background: linear-gradient(145deg, #2600ffb7, #00ffe5);
  box-shadow: 0px 0px 22px #000000, -10px -10px 22px #0d00ff35;
  transition: transform 0.9s;
}

.skills:hover {
  color: #3300ff;
  background-color: transparent;
  border: 2px solid #000000;
  transform: rotate(360deg) scale(1.2);
  border-radius: 50px;
  transition: 1.3s;
  background: linear-gradient(145deg, #2600ffb7, #00ffe5);
}

.social {
  margin: 0 auto;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social a {
  text-decoration: none;
}

footer {
  background-color: #0000009f;
  width: 100%;
  height: 100%;
  margin: 20px 0 auto;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer {
  margin-top: 15px;
  max-width: 100%;
  text-align: center;
  font-size: large;
  margin-bottom: 1.2rem;
}
